.container {
    padding: 100px;
    color: orange;
    font-size: 2em;
    font-family: sans-serif;
    text-shadow: 2px 2px 0px black;
    font-weight: 400;
    text-align: center;
    line-height: 48px;
    background-color: #222222;
    background-image:
        url(https://wallpapers.com/images/hd/4k-resolution-yn1xz3ovwy66eguf.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container .wrong {
    text-decoration: line-through;
    background-color: #000;
    color: red;
    font-style: italic;
}